.link {
    text-decoration: none;
    color: none;
}

.SideBar {
    width: 50vw;
    padding-top: 10px;
}

.CloseButton {
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.Stack {
    margin-left: 8px;
}

.SideBarLink {
    margin: 8px 0px;
}