.link {
    text-decoration: none;
    color: none;
}

.SideBar {
    width: 30vw;
    padding-top: 10px;
}

.CloseButton {
    margin-bottom: 10px;
}

.Stack {
    margin-left: 8px;
}

.SideBarLink {
    margin: 8px 0px;
    
}